@page
@model IndexModel

@if (User.Identity!.IsAuthenticated)
{
    <form method="post">
        <div class="actions">
            <button type="submit" class="btn btn-secondary" asp-page-handler="Block">
                <img alt="Block" src="img/block.svg"/>
            </button>
            <button type="submit" class="btn btn-secondary" asp-page-handler="Unblock">
                <img alt="Unblock" src="img/unblock.svg"/>
            </button>
            <button type="submit" class="btn btn-danger" asp-page-handler="Delete">
                <img alt="Delete" src="img/delete.svg"/>
            </button>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th><input class="table__checkbox" type="checkbox" /></th>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Registration Date</th>
                <th>Last Login</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>
                        <input class="checkbox__selected-user" name="SelectedUsers" type="checkbox" value="@user.UserId"/>
                    </td>
                    <td>@user.UserId</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>@user.RegistrationDate.ToString("HH:mm:ss, d MMM, yyyy")</td>
                    <td>@user.LastLoginTime?.ToString("HH:mm:ss, d MMM, yyyy")</td>
                    <td>@user.Status</td>
                </tr>
            }
            </tbody>
        </table>
    </form>
    <script src="js/table-checkboxes.js"></script>
}